




/* header */
header {
  height: 150px;
  background: #fff;
  position: relative;
}
/* logo */
.header-logo {
  position: absolute;
  top: 30px;
  left: 300px;
}
.header-logo p {
  width: 90px;
  background: #9e9e9e2b;
  border-radius: 50%;
}
.header-logo img {
  width: 100%;
}
/* nav */
.header-nav {
  position: absolute;
  top: 100px;
  right: 300px;
  list-style: none;
  display: flex;
  justify-content: space-around;
  width: 350px;
  font-size: 1rem;
}
.header-nav a {
  color: black;
}

/* main */
main {
  background: tomato;
}

/* footer */
footer {
  height: 3rem;
  background: black;
  line-height: 3rem;
  color: #fff;
  text-align: center;
}